.app {
  display: grid;
  place-items: center;
  background-color: var(--background);
  height: 100vh;
  position: relative;
}

.app::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  z-index: 0;
  background-color: #009688;
}

.app::after {
  position: absolute;
  content: "";
  top: 20%;
  height: 80%;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #d9dbd5;
}

.app__body {
  display: flex;
  background-color: #ededed;
  height: 95vh;
  z-index: 1;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
}
